@use "./base.scss";

// put your custom CSS here!

h1, h2, h3, h4 {
    color: #005493;
    border-bottom: 2px solid #eaecef;
    padding-top: 1em;
    padding-bottom: 0.3em;
  }

p, ol, li{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.8em;
}

.callout {
    margin: 0em !important;
}

blockquote {
    border-left: 4px solid #005493; // 왼쪽 테두리 색상
}

// 이미지 중앙정렬
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

mjx-container[display="true"] {
    display: block;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
mjx-container[display="false"] {
    display: inline;
    text-align: initial;
}

// Center align tables
table {
    margin: 0 auto;
}

table th,
table td {
    padding: 0.3em 1.5em;
    border: 1px solid #ddd;
}

table th {
    color: #005493;

}
tr:hover {
    background: #f1f1f1;
}

// Hide the footer
footer {
    display: none;
}

hr {
    visibility: hidden;
}
  
.footnotes {
    margin-top: 0rem;
    border-top: 0px solid var(--lightgray);
}